* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: whitesmoke;
}

h1 {
    text-decoration-line: underline;
    background-color: rgb(39, 145, 145);
}

table {
    width: 90vw;
    margin: 20px auto;
    border: 1px solid rgb(63, 173, 209);
}

th {
    background-color: rgb(146, 146, 146);
    border: 1px solid gray;
}

tr:nth-child(even) {
    background-color: lightgray;
}

td {
    border: 1px solid lightgray;
}

td:nth-child(3) {
    width: 50%;
}

button {
    border-radius: 15%;
    cursor: pointer;
}

.books-table td button:nth-child(1) {
    background-color: lightcoral;
}

.books-table td button:nth-child(2) {
    background-color: lightseagreen;
}

.books-table td button:nth-child(3) {
    background-color: lightgreen;
}

.modal {
    background-color: whitesmoke;
}

.modal pre {
    color: rgb(27, 107, 107);
}

.modal-btn {
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 50%;
}